:root{
  --main-border-radius: 5px;
}

.card{
  background-color: var(--main-bg-color);
  border-radius: var(--main-border-radius);
  height: 85vh;
  width: 90vw;
}

.card-body{
  background-color: var(--black);
  border-top-left-radius: var(--main-border-radius);
  border-top-right-radius: var(--main-border-radius);
  flex: 7;
  width: 100%;
}

.card-footer{
  align-items: center;
  background-color: var(--main-text-color);
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);
  box-sizing: border-box;
  color: var(--white);
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .card{
    height: 85vh;
    width: 75vw;
  }
}

@media screen and (min-width: 768px) {
  .card{
    height: 65vh;
    width: 55vw;
  }
}

@media screen and (min-width: 1200px) {
  .card{
    height: 60vh;
    width: 45vw;
  }
}