@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root{
  --light-text-color: #f7f6e7;
  --main-text-color: #f2a154;
}

body{
  font-family: 'Hammersmith One', sans-serif;
}