:root {
  --main-bg-color: #e7e6e1;
  --main-text-color: #f2a154;
  --white: #fff;
  --black: #000;
}

body{
  background-color:var(--light-bg-color);
  color: var(--white);
}

.centered-container{
  align-items: center;
  display: flex;
  justify-content: center;
}

.d-column{
  flex-direction: column;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}