:root {
  --light-bg-color: #314e52;
  --main-bg-color: #e7e6e1;
  
  --main-dots-animation: backgroundAnimatorKF; 

  --black: #000;
  --white: #fff;
}

body{
  animation-duration: 180s;
  animation-iteration-count: infinite;
  animation-name: var(--main-dots-animation);
  animation-timing-function: linear;
  background-color: var(--light-bg-color);
  background-image: radial-gradient(var(--white) 20%, transparent 20%);
  background-size: 10px 10px;
  color: var(--white);
  height: 100vh;
  margin: 0px;
}

@keyframes backgroundAnimatorKF {
  from {
    background-position: -100% -100%;
  }
  to { 
    background-position: 100% 100%;
  }
}

.centered-container{
  align-items: center;
  display: flex;
  justify-content: center;
}

.main-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
}

.d-column{
  flex-direction: column;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}