:root{
  --links-hover-color: #206dc5; 
}

.main-container .photo{
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.main-container .author-ref{
  color: var(--white);
  text-decoration: none;
}

.main-container .author-ref:hover{
  color: var(--links-hover-color);
}

.main-container .photo-author{
  color: var(--white);
  cursor: pointer;
  flex: 2;
  text-align: right;
}

.main-container .photo-description{
  color: var(--light-bg-color);
  cursor: default;
  flex: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}